<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to 'Yelpdemo!', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"> 
          <%= link_to 'About', pages_about_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">           
          <%= link_to 'Contact', pages_contact_path, class: 'nav-link' %>
        </li>
      </ul>
      <%= form_tag search_restaurants_path, method: :get, class: 'navbar-form navbar-left form-inline mt-3 mr-5' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: 'form-control' %>
          <%= submit_tag 'Search', name: nil, class: 'btn btn-light' %>
        </p>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="nav-item"> 
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item"> 
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item"> 
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item"> 
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
